# Job support files
*/job_report/*
job_report/Analyzer_*

# Text files
#*.txt
*.log

# Multimedia
*.pdf
*.png
*.root

*/archive
# py cache
*/__init__.py
*__pycache__

# condor
*cbasile.cc

# vscode cache
*.vscode

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# backup files
*/*/archive/*
*.swp
*.swo

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
bin/*
*/bin/*
*.exe
*.out
*.app

#ROOT extension
*_C.d
*_C.so
*_C_ACLiC_dict_rdict.pcm

# xgb models
*.pck
